<div class="Navigation">
<input type="button"  id="btnnvg" value = "Q1" /> <input type="button"  id="btnnvg" value = "Q2" /><input type="button"  id="btnnvg" value = "Q3" />  <input type="button"  id="btnnvg" value = "Q4" />
<br><br><input type="button"  id="btnnvg" value = "Q5" /> <input type="button"  id="btnnvg" value = "Q6" /><input type="button"  id="btnnvg" value = "Q7" />  <input type="button"  id="btnnvg" value = "Q8" />
<br><br><input type="button"  id="btnnvg" value = "Q9" /> <input type="button"  id="btnnvg" value = "Q10" /><input type="button"  id="btnnvg" value = "Q11" />  <input type="button"  id="btnnvg" value = "Q12" />
<br><br><input type="button"  id="btnnvg" value = "Q13" /> <input type="button"  id="btnnvg" value = "Q14" /><input type="button"  id="btnnvg" value = "Q15" />  <input type="button"  id="btnnvg" value = "Q16" />
</div>
